@use 'variable' as *;
@use 'mixin' as *;

// セクションの見出し
.section-head{
    margin-bottom: 96px;
    &__ja{
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 600;

        // 
        @include mq(sp){
            margin-bottom: 8px;
            font-style: 14px;
        }

    }
    
    &--brown{
        color: $mainColor2;
    }

    &--white{
        color: $textColor2;
    }
    
    
    
} 

.nav{
    &-menu{
        display: flex;
        align-items: center;
        column-gap: 32px;
    }
}

.fa-instagram{
    font-size: 24px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    width: 212px;
    height: 48px;
    border-radius: 4px;
    font-family: $sans;

    .fa-envelope{
        margin-top: 2px;
        font-size: 16px;
    }

    &--fill{
        background-color: $mainColor1;
        color: $textColor2;
    }


    &--stroke{
        border: 2px solid $mainColor1;
        color: $mainColor1;
    }
}